
.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    color: white;
    justify-content:space-between;
}

.top-section{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding: 40px;

}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.tile {
    border: 1px solid blue;
}

.mid-low-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;

}

.bot-section {
    display: flex;
    justify-content: center;
}

.action-bar {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    padding: 20px;
    width: 800px;
    gap: 30px;
}