body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    background-color: #0a3c0e;
    color: white;
    justify-content:space-between;
    padding: 10px;
    font-size: 20px;
}

.nav-logo{
    font-size: 25px;
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 10px
}

button {
    font-size: 15px;
    border-radius: 10px;
}

.top-section{
    display: flex;
    justify-content: space-around;
    background-color: #aeefa6;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-size: 20px;
}

.top-section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:self-end;
}

.top-section-button {
    font-size: 20px;
    width: 120px;
    color: white;
    background-color: rgb(2, 39, 2);
    margin-right: 40px;
    height: 40px;
}

.tile-header {
    font-size: 17px;
    font-weight: bold;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 500px;
}
.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-low-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aeefa6;
    padding: 50px;
    margin: 50px 0px;
    font-size: 20px;
    font-style: italic;

}

.bot-section {
    display: flex;
    justify-content: center;
}

.action-bar {
    display: flex;
    justify-content: center;
    background-color: rgb(161, 161, 161);
    color: white;
    padding: 30px 50px;
    width: 1000px;
    gap: 30px;
    border-radius: 20px;
    font-size: 20px;
    align-items: center;
}

.action-button {
    width: 150px;
    height: 30px;
    align-self: center;
    justify-content: center;
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #0a3c0e;
    color: white;
    margin-top: 50px;
}